<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pekara</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse  navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pekara", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kategorije", "Index", "Kategorije")</li>
                    <li>@Html.ActionLink("Artikli", "Index", "Artikli")</li>
                    <li>@Html.ActionLink("Nalog", "Index", "Nalog_Stavke")</li>
                    <li>@Html.ActionLink("Report", "NalSt", "ReportMVC")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pekara</p>
        </footer>
    </div>
   
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<style>

    .navbar {
        width: 98%;
        position: fixed;
        left: 1%;
        background: #EEE8AA;
        border: 1px solid #333;
        box-shadow: 8px 8px 5px #EEE8AA;
    }
    .navbar-inverse .navbar-brand {
        color: #000;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #000;
    }
</style>