@model MVC_Pekara.Artikli

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Da li ste sigurni da zelite ovo da izbrisete?</h3>
<div>
    <h4>Artikli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategorijaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategorijaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazivArtikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivArtikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Masa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipBrasna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipBrasna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProizvodjackaCenaBezPDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProizvodjackaCenaBezPDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProizvodjackaCenaSaPDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProizvodjackaCenaSaPDV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
