@model IEnumerable<MVC_Pekara.Artikli>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategorijaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivArtikla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Masa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipBrasna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProizvodjackaCenaBezPDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProizvodjackaCenaSaPDV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategorijaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivArtikla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Masa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipBrasna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProizvodjackaCenaBezPDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProizvodjackaCenaSaPDV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtikalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtikalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtikalID })|
            @Html.ActionLink("Report","Rpt_ArtikalID",new { artikalID=item.ArtikalID }, null)
        </td>
    </tr>
}

</table>
